* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fdf0db;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ハンバーガーメニュー */
.header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 7%;
    background-color: #fdf5ed;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    z-index: 10;
}

.headerNavOuter {
    margin-bottom: 0;
    position: relative;
}

.siteTitle {
    margin: 5px 0 0 0;
    color: #000;
}

.visited:visited {
    color: #000;
}

/* ナビゲーション */
.headerNav {
    position: fixed;
    right: -100%;
    top: 0;
    width: 250px;
    height: 100vh;
    padding-top: 40px;
    background-color: #ffdab9;
    transition: all .6s;
    z-index: 20;
    overflow-y: auto;
}

.navList {
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;
}

.navItem {
    padding: 1rem 1rem 0;
}

.navItem a {
    display: block;
    border-bottom: 1px solid #eee;
    color: #707070;
    padding: 4rem 0 1rem;
    width: 100%;
    margin: 0 auto;
}
/* ナビゲーションここまで */

/* ハンバーガーボタン */
.hamburger-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    height: 55px;
    cursor: pointer;
    z-index: 30;
}

.hamburger-line {
    position: absolute;
    left: 8px;
    width: 25px;
    height: 1px;
    background-color: #111;
    transition: all .6s;
}

.hamburger-line-1 {
    top: 20px;
}

.hamburger-line-2 {
    top: 26px;
}

.hamburger-line-3 {
    top: 32px;
}
/* ハンバーガーボタンここまで */

/* ハンバーガーメニューをクリックしたあとに現れる半透明背景 */
.bg {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    cursor: pointer;
}

/* ハンバーガーボタンをクリックしたときの動作 */
/* ナビゲーションが現れる */
.nav-open .headerNav {
    right: 0;
}

/* 半透明背景を表示 */
.nav-open .bg {
    opacity: .8;
    visibility: visible;
}

/* ハンバーガーをバツに */
.nav-open .hamburger-line-1 {
    transform: rotate(45deg);
    top: 25px;
}
.nav-open .hamburger-line-2 {
    width: 0;
    left: 50%;
}
.nav-open .hamburger-line-3 {
    transform: rotate(-45deg);
    top: 25px;
}

/* コンテナ全体 */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* 上部の円形アイコン */
.top-icons {
    position: absolute;
    top: 12%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #a3c4a6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.text-circle {
    color: #517c5b;
    font-size: 28px;
}

/* コンテンツ全体のレイアウト */
.content {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%; /* 円形アイコンの下にスペースを追加 */
}

/* 左右のボックス */
.left-side, .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
}

/* 箱の位置調整 */
/* 南東ページ */
.nantou .left-side {
    margin-right: auto;
    transform: translateX(-12%);
}

.nantou .right-side {
    margin-right: auto;
    transform: translateX(-13%);
}

/* 南西ページ */
.nannsei .left-side {
    margin-right: auto;
    transform: translateX(0.3%);
}

.nannsei .right-side {
    margin-right: auto;
    transform: translateX(2.4%);
}

/* 北ページ */
.ekikita .left-side {
    margin-right: auto;
    transform: translateX(-5%);
}

.ekikita .right-side {
    margin-right: auto;
    transform: translateX(-5%);
}
/* 箱の位置調整ここまで */

/* ボックスのデザイン */
.box {
    position: relative;
    margin: 5% 0;
    width: 100%;
    border: 2px solid #a97b5d;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.box-content {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;
}

/*画像を横並びにする*/
.box-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*箱の中の画像*/
.box-image {
    max-width: 40%;
    margin: 2%;
    cursor: pointer;
}

/*箱の中の文章*/
.box-text {
    font-size: 1rem;
    color: #333;
    text-align: center;
    word-wrap: break-word;
}

/*コメントエリアのデザイン*/
.box-comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/*コメントする人のアイコン*/
.comment-image {
    width: 10%;
    height: auto;
    margin-right: 15px;
    display: block;
}

/*コメントの文章*/
.comment-text {
    font-size: 1rem;
    color: #333;
    flex: 1;
    word-wrap: break-word;
}

.time {
    position: relative;
    right: 43%;
    font-size: 1.3rem;
    color: #a97b5d;
}

/* 中央の縦線 */
.center-line {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 20px;
    background-color: #7b5e47;
    transform: translateX(-50%);
}

/* 横軸のデザイン（ボックスから中央線まで伸びる線） */
.horizontal-line {
    position: absolute;
    top: 1%;
    left: 100%;
    width: 5%;
    height: 15px;
    background-color: #7b5e47;
}

.right-side .box .horizontal-line {
    left: -5%;
}

#zoomback {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    display: none;  /*初期状態では非表示*/
}

#zooming {
    width: 30%;
}

@media (max-width: 768px) {
    .right-side {
        transform: translateX(-5%);
    }

    .time {
        right: 40%;
    }

    .comment-image {
        margin-right: 0;
        margin-bottom: 10px;
    }
}